<!DOCTYPE html>
<html>
    <head>
        <script>
         function loadXMLDoc()
         {
             var xmlhttp;
             if (window.XMLHttpRequest)
             {// code for IE7+, Firefox, Chrome, Opera, Safari
              xmlhttp=new XMLHttpRequest();
             }
             else
             {// code for IE6, IE5
              xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
             }
             xmlhttp.onreadystatechange=function()
             {
                 if (xmlhttp.readyState==4 && xmlhttp.status==200)
                 {
                     var myresponse = JSON.parse(xmlhttp.responseText);
                     document.getElementById("myDiv").innerHTML=myresponse.id;
//                     document.getElementById("myDiv").innerHTML=xmlhttp.responseText;
                 }
             }
             xmlhttp.open("GET","/user/42.json",true);
             xmlhttp.send();
         }
        </script>
    </head>
    <body>
        Enter an ID (42 or 43)
        <input type="text" name="id"> 
        <button type="button" onclick="loadXMLDoc()">get id</button><br>
        ID belongs to <span id="myDiv"></span>


    </body>
</html>
